# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dev files
*.tf
*.tfvars
*.lock.hcl
*.log
/bin
dev.env
dev.tfrc

temp/
.DS_Store
.vscode
terraform-provider-windns

# Dependency directories (remove the comment below to include it)
# vendor/